body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body a {
	color: #146AB3;
	text-decoration: none;
}
body a:hover {
	color: #125287;
	text-decoration: underline;
	cursor: pointer;
}
#wrapper {
	position: relative;
	min-height: 100%;
}
.sidebar {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	padding: 15px;
	border-right: 3px double #146AB3;
	height: 100%;
}
.sidebar .logo {
	text-align: center;
}
.sidebar .logo img {
	margin: 0 auto;
}
.sidebar .secTitle {
	text-transform: uppercase;
	font-size: 120%;
	font-weight: bold;
}
.sidebar ul {
	list-style-type: none;
}
.sidebar .teamateLinks {
	text-transform: capitalize;
	font-size: 115%;
	margin-bottom: 4px;
}
.sidebar .teamateLinks a {
	text-decoration: none;
}
.sidebar .teamateLinks a:hover {
	cursor: pointer;
	text-decoration: underline;
}
.content {
	z-index: 50;
	padding: 15px 15px 15px 350px;
}
#output {
	z-index: 75;
	padding-top: 10px;
}
#breadcrumbs {
	display: block;
	width: 100%;
	padding-bottom: 15px;
	margin: 15px 0;
	border-bottom: 3px double #146AB3;
	font-weight: bold;
	font-size: 110%;
	text-transform: capitalize;
}
#output .sandboxTitle {
	text-transform: uppercase;
	font-size: 120%;
	font-weight: bold;
}
#output .sandboxProject {
	margin-left: 15px;
}
#output .title {
	display: block;
	text-transform: capitalize;
	font-size: 115%;
	font-weight: bold;
	margin-right: 15px;
	margin-left: -6px;
}
#output .title a {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid transparent;
}
#output .title a:hover {
	cursor: pointer;
	background-color: #BAE0FF;
	border: 1px solid #146AB3;
}