/*This is the external style sheet*/

p.inline {
    display:inline;
}

/*This defines the divs that are family_members*/
#family_members { 
    width: 100px; /*Size of the Box*/
    height: 100px;
    background-color: red;
    -webkit-animation-name: colors; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: colors;
    animation-duration: 2s;
    /*animation-delay: 1s; /*Delay before the animation starts to run*/
    animation-iteration-count: 3; /*Amount of times you want the animation to run*/
    animation-iteration-count: infinite; /*Makes the animation run infinitely*/   
}
/*This is for the hover function*/
#family_members:hover {
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
    transition: width 1s, height 1s, transform 1s;
    animation-name: size;
}

/* This is the standard syntax for changing colors */
@keyframes colors {
    0% {background-color: red;}
    50% {background-color: yellow;}
}
@keyframes size {
    0% {width:100px; height:100px;}
    100%{width:200px; height:200px;}
}


/* This is for the moving blocks */
#div1 {
	text-align:center;
   	width: 500px;
        margin: 10px;
    height: 90px;
    background-color: red;
    font-weight: bold;
    position: relative;
    //animation: moveblocks 5s infinite;
    //-webkit-animation: moveblocks 5s infinite; 
    //-webkit-animation-timing-function: linear;}
#div1:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(720deg); /* Safari */
    transform: rotate(720deg);
    transition: width 2s, height 2s, transform 2s;
}
#div2 {
	text-align:center;
   	width: 500px;
        margin: 10px;
    height: 90px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: moveblocks 5s infinite;
    -webkit-animation: moveblocks 5s infinite; 
    -webkit-animation-timing-function: ease;}
#div3 {
	text-align:center;
   	width: 500px;
        margin: 10px;
    height: 90px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: moveblocks 5s infinite;
    -webkit-animation: moveblocks 5s infinite; 
    -webkit-animation-timing-function: ease-in;}
#div4 {
	text-align:center;
   	width: 500px;
        margin: 10px;
    height: 90px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: moveblocks 5s infinite;
    -webkit-animation: moveblocks 5s infinite;
    animation-timing-function: ease-out;}
#div5 {
	text-align:center;
   	width: 500px;
        margin: 10px;
    height: 90px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: moveblocks 5s infinite;
    -webkit-animation: moveblocks 5s infinite;
    animation-timing-function: ease-in-out;}

/*This piece of code keeps my border centered and everything in a box*/
h1 {
    text-align: center;
    border-style: solid;
    border-color: blue;
    min-width: 100%;
}

appspace.picture {
    alignment-adjust: middle;
}



