#memory-board{
    background-color:white;
    height: 540px;
    width: 400px;
    /*border: #999 1px solid;*/
    padding: 24px;
    margin: 0 auto;
}

.card {
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card > div{
    backface-visibility: hidden;
}

.front, .back, .correct, .flipped{

    border: #000 1px solid;
    width: 71px;
    height: 120px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.front{
    background: url('images/tilebg_1.jpg') no-repeat center;
    transform: rotateY(0deg );
    transition: transform 1s;
}


.back{
    display: none;
    background-color: #fff;
    transform: rotateY(360deg);
    transition: transform 1s;
}

.correct{
    transform: rotateY(360deg);
    transition: transform 1s;
}

.flipped{
    display: inline-block;
    transform: rotateY(360deg);
    transition: transform 1s;
}