/**
 * SUBJECT, TOPIC, and FLASH CARD STYLES
 * @author Christopher Keers
 */
.tile {
	position: relative;
	border: 1px solid #c4c4c4;
	margin-bottom: 5px;
	display: inline-block;
	width: 200px;
	height: 100px;
	overflow: hidden;
}
.tile .name {
	height: 100%;
	padding: 10px;
	margin-right: 30px;
	cursor: pointer;
}
.tile .name:hover {
	background-color: rgba(249, 255, 154,0.5);
}
.tile .controls {
	z-index: 10;
	position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
    height: 100%;
	border-left: 1px solid #c4c4c4;
	background-color: #F7F4F0;
}
.tile .controls .edit {
	font-size: 110%;
	width: 100%;
	padding: 5px 0 5px 0;
	cursor: pointer;
}
.tile .controls .remove {
	font-size: 110%;
	width: 100%;
	padding: 5px 0 5px 0;
	cursor: pointer;
}
.tile textarea {
	width: 142px;
    height: 74px;
}
.title-row {
	background-color: #F7F4F0;
	font-weight: bold;
	overflow: hidden;
}
.flashcard-set {
	position: relative;
	display: block;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    padding: 10px;
}
.flashcard-set:last-child {
	border-bottom: 1px solid #c4c4c4;
}
.flashcard-set .term {
	display: inline-block;
	width: 37%;
	vertical-align: top;
}
.flashcard-set .definition {
	display: inline-block;
	width: 37%;
	vertical-align: top;
}
.flashcard-set .type {
	display: inline-block;
	width: 16%;
	vertical-align: top;
}
.flashcard-set .controls {
	width: 10%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #F7F4F0;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #c4c4c4;
	padding-bottom: 1px;
    z-index: 10;
}
.flashcard-set:last-child .controls {
	padding-bottom: 0;
}
.flashcard-set .controls .edit {
	font-size: 110%;
	margin: 0 2px 2px 2px;
	padding: 10px 10px 0 10px;
    display: inline-block;
	cursor: pointer;
}
.flashcard-set .controls .remove {
	font-size: 110%;
	margin: 0 2px 2px 2px;
	padding: 10px 10px 0 10px;
    display: inline-block;
	cursor: pointer;
}
.flashcard-set textarea {
	width: 80%;
}
.flashcard-set select {
	width: 100%;
}